article(id="1" class="shadow-lg rounded-md mb-7 bg-slate-50 p-4")
  h2(class="font-semibold text-2xl mb-3") Todo #1
  div(class="flex justify-between items-center")
    div(class="w-full box-border")
      h3(class="font-medium") What to do
      p Text todo
    div(class="min-w-[180px] box-border px-3")
      h3(class="font-medium") Creted
      p 00-00-00 00:00
    div(class="min-w-[180px] box-border px-3")
      h3(class="font-medium") Expires
      p 00-00-00 00:00
    div(class="max-w-[32px] p-2 cursor-pointer js-remove")
      svg(class="w-16 h-16 fill-rose-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
        path(d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z")
