doctype html
html(lang="ru")
  include ../common/head
  body(class="flex flex-col items-stretch w-full min-h-screen font-body")
    include ../components/navbar
    div(class="wrapper flex-1-auto py-6")
      main(class="container mx-auto js-cards-body")
        //include ../components/article
        //include ../components/article
        //include ../components/article


    include ../components/footer
    include ../components/popup

    script(src="./js/main.js" async)

